name: go
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1
        with:
          submodules: recursive

      - name: Caching modules
        uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-aw-${{ hashFiles('**/go.sum') }}

      # Remove apt repos that are known to break from time to time
      # See https://github.com/actions/virtual-environments/issues/323
      - name: Install dependency packages
        run: |
          for apt_file in `grep -lr microsoft /etc/apt/sources.list.d/`; do sudo rm $apt_file; done
          sudo apt-get update
          sudo apt-get install -y build-essential
          sudo apt-get install -y jq mesa-opencl-icd ocl-icd-opencl-dev pkg-config
          curl https://sh.rustup.rs -sSf | sh -s -- -y
          source $HOME/.cargo/env

      - name: Get dependencies
        run: |
            export PATH=$PATH:$(go env GOPATH)/bin
            source $HOME/.cargo/env
            go get -u github.com/onsi/ginkgo/ginkgo
            go get -u github.com/onsi/gomega/...
            go get -u golang.org/x/lint/golint
            go get -u github.com/loongy/covermerge
            go get -u github.com/mattn/goveralls

      - name: Run vetting
        run: |
            source $HOME/.cargo/env
            cd $GITHUB_WORKSPACE/chain/filecoin/filecoin-ffi
            make
            cd $GITHUB_WORKSPACE
            export PATH=$PATH:$(go env GOPATH)/bin
            go vet ./...

      - name: Run linting
        run: |
            cd $GITHUB_WORKSPACE
            export PATH=$PATH:$(go env GOPATH)/bin
            go get -u golang.org/x/lint/golint
            golint $(go list ./... | grep -v filecoin-ffi)

      - name: Run multichain infrastructure
        run: |
            cd $GITHUB_WORKSPACE/infra
            source .env
            docker-compose up -d --build \
              bitcoin \
              bitcoincash \
              dogecoin \
              terra \
              zcash
            docker run -d -p 1234:1234 -h 0.0.0.0 \
              --name infra_filecoin_1 rohitnarurkar/multichain_filecoin:latest
            docker run -d -p 9933:9933 -p 9944:9944 -h 0.0.0.0 \
              --name infra_acala_1 rohitnarurkar/multichain_acala:latest

      - name: Sleep until the nodes are up
        uses: jakejarvis/wait-action@master
        with:
          time: '5m'

      - name: Check on docker containers
        run: docker ps -a

      - name: Run tests and report test coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            export PATH=$PATH:$(go env GOPATH)/bin
            source ./infra/.env
            cd $GITHUB_WORKSPACE
            CI=true go test -timeout 1500s
            CI=true go test ./chain/acala/...

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: renbot/multichain:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
